*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    min-height: 100vh;
    background-color: rgb(251, 250, 217);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(29, 35, 106);
    padding: 15px 4%;
    box-shadow: 0 0 22px rgb(255, 100, 69);
    gap: 25px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    background-image: url('https://i.pinimg.com/736x/b2/d6/76/b2d67620de2550de271118853c2c5457.jpg');
    height: 90px;
    min-width: 90px;
    background-size: cover;
    background-position: center;
    border-radius: 22px;
    border: solid 5px rgb(0, 0, 0);
    color: white;
}

.option{
    color: white;
    display: flex;
    gap: 15px;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.option > div{
    border-radius: 11px;
    border: solid white 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    cursor: pointer;
}

.search{
    color: white;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: rgb(8, 9, 75);
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px 0 0 10px;
    background-color: rgb(174, 173, 173);
    border: none;
    outline: none;
}

.search > input{
    height: 40px; /* Span ke barabar ki height */
    font-family: cursive;
    letter-spacing: 2px;
    padding-left: 10px;
    width: 250px;
    border: none;
    background-color: rgb(174, 173, 173);
    border-radius: 0 10px 10px 0;
}

input:focus{
    outline: none;
    border: none;
}

.icons{
    color: white;
    display: flex;
    gap: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.icons > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 15px;
    letter-spacing: 2px;
}